force-app/main/default/flows/Lennar_Standard_Grilling_Island.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>
        Lennar Standard Grilling Island — Voucher Creation Automation.

        DUAL-SIDED STRUCTURE:
        ─────────────────────
        Builder / Sponsor side  → Builder_Account__c
          - Identifies the Lennar division or builder responsible for the program.
          - Controls eligibility, funding, reimbursement, and builder-side reporting.
          - Set automatically on creation by looking up the Lennar Homes account
            from the campaign, or defaulting to the Lennar Homes parent.
          - Sponsor_Payment_Responsibility__c = Builder Invoiced (Lennar pays).

        Homeowner / Claimant side → Contact__c
          - Identifies the homeowner who claims and redeems the voucher.
          - Controls claim, quote, invoice, upgrade decision, and redemption.
          - NOT set by this flow. Set when homeowner claims via web form or manually.
          - A separate validation flow (Lennar_Voucher_Claim_Validation) enforces
            Contact__c is present before Status can advance past Active.

        Marketing Cloud may run the homeowner campaign/journey.
        Salesforce Voucher__c remains the source of truth for both sides.
    </description>
    <environments>Default</environments>
    <interviewLabel>Lennar Standard Grilling Island {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lennar Standard Grilling Island</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <object>Voucher__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ── VARIABLES ────────────────────────────────────────────────────── -->
    <variables>
        <name>CampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>

    <variables>
        <name>BuilderAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>

    <!-- ── FORMULAS ─────────────────────────────────────────────────────── -->
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>

    <!-- ── STEP 1: GET CAMPAIGN ──────────────────────────────────────────── -->
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lennar_Campaign</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <outputReference>CampaignRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>

    <!-- ── STEP 2: IS THIS A LENNAR CAMPAIGN? ───────────────────────────── -->
    <decisions>
        <name>Is_Lennar_Campaign</name>
        <label>Is Lennar / Grilling Island Campaign?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Not Lennar — exit</defaultConnectorLabel>
        <rules>
            <name>Yes_Lennar</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>CampaignRecord.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lennar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignRecord.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grilling Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Voucher_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Grilling Island</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Grilling_Fields</targetReference>
            </connector>
            <label>Yes — Lennar / Grilling Island</label>
        </rules>
    </decisions>

    <!-- ── STEP 3: SET GRILLING ISLAND FIELDS (builder side) ────────────── -->
    <assignments>
        <name>Set_Grilling_Fields</name>
        <label>Set Grilling Island Fields</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <!-- Grilling island is included with this voucher -->
            <assignToReference>$Record.Standard_Grilling_Island_Included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <!-- Builder (Lennar) is financially responsible — not LOVING, not homeowner -->
            <assignToReference>$Record.Sponsor_Payment_Responsibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Builder Invoiced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <!-- Voucher valid for 1 year from issuance -->
            <assignToReference>$Record.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <!-- Grilling island opens upsell conversation with homeowner -->
            <assignToReference>$Record.Upsell_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Builder_Account_Already_Set</targetReference>
        </connector>
    </assignments>

    <!-- ── STEP 4: DOES THE VOUCHER ALREADY HAVE A BUILDER ACCOUNT? ─────── -->
    <decisions>
        <name>Builder_Account_Already_Set</name>
        <label>Builder Account already set?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Lookup_Lennar_Builder_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — look up Lennar account</defaultConnectorLabel>
        <rules>
            <name>Builder_Account_Set</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Builder_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes — already set, skip lookup</label>
        </rules>
    </decisions>

    <!-- ── STEP 5: LOOK UP LENNAR BUILDER ACCOUNT ───────────────────────── -->
    <!--
        Attempts to find the Lennar division account by matching the campaign name
        to the account name (e.g., "Charlotte" in campaign → "Lennar Homes – Charlotte").
        Falls back to Lennar Homes parent if no division match.
        Builder_Account__c is the SPONSORSHIP side. Contact__c is the HOMEOWNER side.
        Do NOT merge these — they serve different business purposes.
    -->
    <recordLookups>
        <name>Lookup_Lennar_Builder_Account</name>
        <label>Look Up Lennar Builder Account</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Builder_Account</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>Lennar Homes</stringValue>
            </rightValue>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Builder Parent</stringValue>
            </rightValue>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <outputReference>BuilderAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>

    <!-- ── STEP 6: DID WE FIND A BUILDER ACCOUNT? ───────────────────────── -->
    <decisions>
        <name>Did_We_Find_Builder_Account</name>
        <label>Did we find Lennar Builder Account?</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <defaultConnectorLabel>No account found — leave blank</defaultConnectorLabel>
        <rules>
            <name>Found_Builder_Account</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>BuilderAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Builder_Account</targetReference>
            </connector>
            <label>Yes — set it</label>
        </rules>
    </decisions>

    <!-- ── STEP 7: STAMP BUILDER ACCOUNT ON VOUCHER ─────────────────────── -->
    <!--
        BUILDER SIDE: Sets Builder_Account__c = Lennar Homes (sponsorship/funding).
        HOMEOWNER SIDE: Contact__c is NOT touched here.
        Contact__c is set separately when the homeowner claims the voucher
        via web form, Marketing Cloud journey, or manual entry.
    -->
    <assignments>
        <name>Set_Builder_Account</name>
        <label>Set Builder Account (Lennar — sponsorship side)</label>
        <locationX>176</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>$Record.Builder_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuilderAccount.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
