force-app/main/default/flows/Lennar_Standard_Grilling_Island.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Lennar Standard Grilling Island voucher automation. When a Voucher__c is created linked to a Lennar/Grilling Island campaign, marks Standard_Grilling_Island_Included__c = true, sets Sponsor_Payment_Responsibility__c = Lennar, and sets Expiration_Date__c to 1 year from today.</description>
    <environments>Default</environments>
    <interviewLabel>Lennar Standard Grilling Island {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lennar Standard Grilling Island</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <object>Voucher__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ── VARIABLES ────────────────────────────────────────────────────── -->
    <variables>
        <name>CampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>

    <!-- ── FORMULAS ─────────────────────────────────────────────────────── -->
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>

    <!-- ── GET CAMPAIGN ──────────────────────────────────────────────────── -->
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lennar_Campaign</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <outputReference>CampaignRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>

    <!-- ── DECISION: IS LENNAR? ──────────────────────────────────────────── -->
    <decisions>
        <name>Is_Lennar_Campaign</name>
        <label>Is Lennar / Grilling Island Campaign?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Not Lennar — skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Lennar</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>CampaignRecord.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lennar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignRecord.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Grilling Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Voucher_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Grilling Island</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Grilling_Island_Fields</targetReference>
            </connector>
            <label>Yes — Lennar / Grilling Island</label>
        </rules>
    </decisions>

    <!-- ── ASSIGNMENT: SET FIELDS ────────────────────────────────────────── -->
    <assignments>
        <name>Set_Grilling_Island_Fields</name>
        <label>Set Grilling Island Fields</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <!-- Mark grilling island included -->
            <assignToReference>$Record.Standard_Grilling_Island_Included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <!-- Sponsor pays — Lennar (Builder) covers the cost -->
            <assignToReference>$Record.Sponsor_Payment_Responsibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Builder Invoiced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <!-- 1-year expiration from voucher creation -->
            <assignToReference>$Record.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <!-- Mark upsell eligible — grilling island opens upsell conversation -->
            <assignToReference>$Record.Upsell_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
