force-app/main/default/flows/Lennar_Voucher_Claim_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>
        PHASE 4 — Homeowner Claim and Status Validation.

        WHAT THIS FLOW DOES:
        ─────────────────────────────────────────────────────────────────
        Runs before save on Voucher__c UPDATE only when Status__c changes
        TO Validated, Reserved, or Applied to Quote.
        Entry conditions enforce this at the trigger level — the flow
        never fires for Draft, Active, Submitted, Contract Signed, or any
        other status, so existing ODL lifecycle tests are unaffected.

        STATUS GATE RULES:
        ─────────────────────────────────────────────────────────────────
        Validated, Reserved,
        Applied to Quote  → Contact AND Normalized_Address_Key__c required.
                            Duplicate check runs on all three.
        All other statuses → flow does not fire.

        OVERLAYS:
        ─────────────────────────────────────────────────────────────────
        This is an overlay on the UMB/ODL process. Does not bypass quote,
        product, pricebook, payment, design review, or approval rules.
    </description>
    <environments>Default</environments>
    <interviewLabel>Lennar Voucher Claim Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lennar Voucher Claim Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <object>Voucher__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Standard_Grilling_Island_Included__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Validated</stringValue></value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Reserved</stringValue></value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Applied to Quote</stringValue></value>
        </filters>
        <connector><targetReference>Is_Contact_Present</targetReference></connector>
    </start>
    <status>Active</status>

    <!-- ── CUSTOM ERRORS ─────────────────────────────────────────────────── -->
    <customErrors>
        <name>Block_Duplicate_Voucher</name>
        <label>Block — Duplicate Voucher Detected</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <customErrorMessages>
            <errorMessage>A duplicate Lennar grilling island voucher already exists for this property. Only one voucher per lot is allowed. Do not apply a quote credit until the duplicate is resolved. Contact your manager to approve an exception.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>

    <customErrors>
        <name>Block_No_Homeowner</name>
        <label>Block — Homeowner Contact Required</label>
        <locationX>440</locationX>
        <locationY>120</locationY>
        <customErrorMessages>
            <errorMessage>A homeowner Contact must be assigned before this voucher can advance to {!$Record.Status__c}. Assign Contact__c and try again.</errorMessage>
            <isFieldError>true</isFieldError>
            <fieldSelection>Contact__c</fieldSelection>
        </customErrorMessages>
    </customErrors>

    <customErrors>
        <name>Block_No_Lot</name>
        <label>Block — Address Key Required</label>
        <locationX>440</locationX>
        <locationY>240</locationY>
        <customErrorMessages>
            <errorMessage>An address key must be set before this voucher can advance to {!$Record.Status__c}. Populate Normalized_Address_Key__c and try again.</errorMessage>
            <isFieldError>true</isFieldError>
            <fieldSelection>Normalized_Address_Key__c</fieldSelection>
        </customErrorMessages>
    </customErrors>

    <!-- ── DECISIONS ─────────────────────────────────────────────────────── -->
    <decisions>
        <name>Is_Contact_Present</name>
        <label>Is Contact__c (homeowner) set?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnector><targetReference>Block_No_Homeowner</targetReference></defaultConnector>
        <defaultConnectorLabel>No — block</defaultConnectorLabel>
        <rules>
            <name>Contact_Present</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Is_Lot_Or_Property_Present</targetReference></connector>
            <label>Yes — proceed to lot/address check</label>
        </rules>
    </decisions>

    <decisions>
        <name>Is_Lot_Or_Property_Present</name>
        <label>Is Normalized_Address_Key__c present?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnector><targetReference>Block_No_Lot</targetReference></defaultConnector>
        <defaultConnectorLabel>None present — block</defaultConnectorLabel>
        <rules>
            <name>Lot_Present</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Normalized_Address_Key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Normalized_Address_Key__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue><stringValue></stringValue></rightValue>
            </conditions>
            <connector><targetReference>Check_Duplicate_By_Property</targetReference></connector>
            <label>Present — proceed to duplicate check</label>
        </rules>
    </decisions>

    <decisions>
        <name>Was_Duplicate_Found</name>
        <label>Were duplicate vouchers found?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>No duplicates — allow</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateVouchers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Block_Duplicate_Voucher</targetReference></connector>
            <label>Yes — block and flag</label>
        </rules>
    </decisions>

    <!-- ── RECORD LOOKUPS ────────────────────────────────────────────────── -->
    <recordLookups>
        <name>Check_Duplicate_By_Property</name>
        <label>Query: Duplicate vouchers on same address key</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Was_Duplicate_Found</targetReference></connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Normalized_Address_Key__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.Normalized_Address_Key__c</elementReference></value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value><elementReference>$Record.Id</elementReference></value>
        </filters>
        <filters>
            <field>Standard_Grilling_Island_Included__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Voucher__c</object>
        <outputReference>DuplicateVouchers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>

    <!-- ── VARIABLES ──────────────────────────────────────────────────── -->
    <variables>
        <name>DuplicateVouchers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
</Flow>
